html {
    background-color: #34aeeb;
}

body {
    background-color: #f4f4f9;
    margin: 60px 0;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-family: "Times New Roman", Georgia, serif;
}

main {
    padding: 40px;
    background-color: #ffffff;
    margin: 40px;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 2px solid #ffffff;
}

body.past-page main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.past-page main img {
    width: 70%;
    max-width: 600px;
    border-radius: 10px;
    margin-bottom: 15px;
}

nav p {
    text-align: center;
}

.m-2 {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: white;
    color: #004080;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.m-2:hover {
    background-color: #e0f0ff;
    transform: scale(1.05);
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}
.profile img {
    border-radius: 10px;
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    transform: scale(0.95);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1)
}

.profile-text{
    max-width: 700px;
}
